<div id="choose">
  <p>Your location search returned several possible matches.  Select the result you'd like to see weather for from the list below:</p>
  <ul id="choices">
    <li class="choice">Sandpoint, Bonner County, Idaho, United States</li>
    <li class="choice">Sandpoint, Sand Creek Byway, Sandpoint, Bonner County, Idaho, 83852, United States</li>
    <li class="choice">Sandpoint, Meadow Woods, Orange County, Florida, United States</li>
    <li class="choice">Sandpoint, Sandpoint Avenue, Sandpoint, Bonner County, Idaho, 83852, United States</li>
  </ul>
</div>