<h2 id="weather-for">Weather for Sandpoint, Bonner County, Idaho, United States</h2>

<div id="weather-report">
  <h3 id="current-weather">Currently</h3>
  <div id="today">
    <div id="today-low">
      Low 62&deg; F
    </div>
    <div id="today-high">
      High 85&deg; F
    </div>
    <div id="current-temp">
      80&deg; F
    </div>
    <div id="today-synopsis">
      Mostly sunny switching to partly cloudly in the evening.
    </div>
    <div id="cache-notice">
      weather data current as of 23 minutes ago
    </div>
  </div>
  <div id="forecast">
    <h3 id="weather-forecast">Forecast</h3>
    <div class="forecast-day">
      <div class="forecast-day-name">Wednesday, 5 April</div>
      <div class="forecast-low">
        Low 64&deg; F
      </div>
      <div class="forecast-high">
        High 76&deg; F
      </div>
      <div class="forecast-synopsis">
        Something else is happening on this day...
      </div>
    </div>
    <div class="forecast-day">
      <div class="forecast-day-name">Thursday, 6 April</div>
      <div class="forecast-low">
        Low 64&deg; F
      </div>
      <div class="forecast-high">
        High 76&deg; F
      </div>
      <div class="forecast-synopsis">
        Something else is happening on this day...
      </div>
    </div>
  </div>
</div>