---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=9731af13139d443369649de68ba6208c&exclude=minutely%2Chourly&lat=48.36&lon=-116.56&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.36,"lon":-116.56,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1686944395,"sunrise":1686915870,"sunset":1686973765,"temp":71.1,"feels_like":70.16,"pressure":1019,"humidity":48,"dew_point":50.43,"uvi":8.06,"clouds":40,"visibility":10000,"wind_speed":5.75,"wind_deg":80,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"daily":[{"dt":1686942000,"sunrise":1686915870,"sunset":1686973765,"moonrise":1686910800,"moonset":1686970920,"moon_phase":0.96,"summary":"There
        will be partly cloudy today","temp":{"day":71.56,"min":47.05,"max":73.35,"night":60.58,"eve":72.39,"morn":51.04},"feels_like":{"day":70.54,"night":59.54,"eve":71.4,"morn":49.75},"pressure":1018,"humidity":45,"dew_point":49.14,"wind_speed":11.83,"wind_deg":242,"wind_gust":17.11,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":42,"pop":0,"uvi":8.06},{"dt":1687028400,"sunrise":1687002270,"sunset":1687060190,"moonrise":1686999240,"moonset":1687061280,"moon_phase":0,"summary":"There
        will be partly cloudy today","temp":{"day":65.25,"min":55.13,"max":72.01,"night":55.13,"eve":70,"morn":56.8},"feels_like":{"day":64.06,"night":53.31,"eve":68.52,"morn":56.41},"pressure":1008,"humidity":55,"dew_point":46.74,"wind_speed":8.34,"wind_deg":220,"wind_gust":13.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,"pop":0.32,"uvi":5.55},{"dt":1687114800,"sunrise":1687088673,"sunset":1687146611,"moonrise":1687088280,"moonset":1687150980,"moon_phase":0.02,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":50.36,"min":43.79,"max":58.71,"night":43.79,"eve":58.3,"morn":47.82},"feels_like":{"day":47.77,"night":42.58,"eve":55.9,"morn":46.85},"pressure":1006,"humidity":57,"dew_point":33.64,"wind_speed":10.36,"wind_deg":207,"wind_gust":18.66,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":100,"pop":0.39,"rain":0.72,"uvi":3.48},{"dt":1687201200,"sunrise":1687175078,"sunset":1687233030,"moonrise":1687177980,"moonset":1687240020,"moon_phase":0.05,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":58.28,"min":36.39,"max":65.23,"night":46.13,"eve":65.23,"morn":36.39},"feels_like":{"day":55.63,"night":46.13,"eve":62.73,"morn":36.39},"pressure":1006,"humidity":39,"dew_point":31.66,"wind_speed":7.31,"wind_deg":233,"wind_gust":10.13,"weather":[{"id":800,"main":"Clear","descriptio[...]
